src/index.pug
doctype HTML
html(lang='RU')
    head
        title fxunion
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="/assets/css/style.css" rel='stylesheet' type="text/css")

    body
        .site_fullscreen_menu
            ul.menu_nav
                li
                    a.glitch2-btn(href="#")
                        span.text Компания
                        span.mask
                            span Компания
                li
                    a.glitch2-btn(href="#")
                        span.text Портфолио
                        span.mask
                            span Портфолио
                li
                    a.glitch2-btn(href="#")
                        span.text Услуги
                        span.mask
                            span Услуги
                li
                    a.glitch2-btn(href="#")
                        span.text Цены
                        span.mask
                            span Цены
                li
                    a.glitch2-btn(href="#")
                        span.text Контакты
                        span.mask
                            span Контакты
            .callback_form
                h2 Хотите работать c нами?
                p Заполните форму и наш менеджер свяжется с Вами.
                form.navbar_form#navbar_form
                    div
                        input(type="text" name="name" placeholder="Ваше имя")
                    div
                        input(type="text" name="phone" placeholder="Ваш Телефон")
                    div
                        input(type="text" name="org" placeholder="Название организации")
                    div
                        input(type="text" name="budget" placeholder="Примерный бюджет")
                    div
                        input(type="text" name="message" placeholder="Ваше сообщение")
                    div
                        include partials/navForm_btn
                        a.navbar_form_attach(href="javascript:void(0)")
                            |
                            i
                                img(src='/assets/images/add.svg' height='15px;' style='margin-right:15px; transition:.2s ease-out;')
                            | Прикрепить файл
                            input(name="attach" type="file")
                    div
                        p Заполняя данную форму, вы принимаете условия Соглашения об использовании сайта, в том числе, в части &nbsp;
                            |
                            a(href="#") обработки и использования
                            |  персональных данных

        .navbar
            a.navbar_logo(href="#")
                img(src="/assets/images/logo.svg" height="40px" alt=)
            .navbar_button
                a.btn.showreel()
                    span(data-hover="Showreel") Смотреть
            .navbar_contacts
                a.contacts_dropdown Контакты
                .navbar_contacts-list
                    span Отдел продаж
                        br
                        p +7 (391) 242-72-31
                    span Отдел поддержки
                        br
                        p +7 (908) 018-30-35
                    span E-mail
                        br
                        p info@foxunion.ru
        .navbar_hamburger-button
            span.menu-global.menu-top
            span.menu-global.menu-middle
            span.menu-global.menu-bottom
        .video_close-button
            span.menu-global.menu-top
            span.menu-global.menu-bottom
        #fullpage
            .section#page-1
                .page1_grid
                    .description
                        h1 Веб-студия №1 в&nbsp;Красноярске*
                        span Мы оказываем полный комплекс услуг по разработке сайтов, создаем сложные проекты для
                            |
                            span.glitch_text_1  e-commerce,
                            | а так же разрабатываем продуманный
                            |
                            span.glitch_text_2  интерактивный&nbsp;дизайн.
                    .fox-pic
                        video.fox_vid(muted data-autoplay data-keepplaying loop)
                            source(src="assets/videos/Fox.webm" type='video/webm' codecs="vp8, vorbis")
                        video.fox_vid_glitched(muted data-autoplay data-keepplaying loop style="display:none;")
                            source(src='assets/videos/glitchyFox.webm' type='video/webm' codecs="vp8, vorbis")
                .footnote
                    span *По версии&nbsp;
                        |
                        a(href="http://www.ratingruneta.ru/web/krasnoyarsk/middle") www.ratingruneta.ru
                        |  в среднем ценовом сегменте 2017 года.
            .section#page-2
                .video_container
                    video#page2_video(data-autoplay data-keepplaying muted loop src="assets/videos/composition.mp4")
                    .video_overlay
                        img.play_button#play_button(src="/assets/images/play.svg")
                #player()
            .section#page-3
                .services
                    .services_item(style="background-image:url(assets/images/back1.png)")
                        .item_video_bg
                            video(src='assets/videos/webdevelop.mov' data-autoplay loop muted)
                        .item_inner_text
                            h1 Веб-разработка:
                            .line
                            p.expanded_text Корпоративные сайты, поддержка, адаптация и еще куча рыбного текста, шобы было хорошо
                            include partials/services_btn
                    .services_item(style="background-image:url(assets/images/back2.png)")
                        .item_video_bg
                            video(src='assets/videos/e-comm.mov' data-autoplay loop muted)
                        .item_inner_text
                            h1 E-commerce:
                            .line
                            p.expanded_text Интернет-магазины, веб-интегрирование 1С и CRM систем и еще куча рыбного текста, шобы было хорошо
                            include partials/services_btn
                    .services_item(style="background-image:url(assets/images/back3.png)")
                        .item_video_bg
                            video(src='assets/videos/design.mp4' data-autoplay loop muted)
                        .item_inner_text
                            h1 Дизайн и брендинг:
                            .line
                            p.expanded_text Здесь по сути должен быть рыбный текст и еще куча рыбного текста, шобы было хорошо
                            include partials/services_btn
                    .services_item(style="background-image:url(assets/images/back4.png)")
                        .item_video_bg
                            video(src='assets/videos/digital.mov' data-autoplay loop muted)
                        .item_inner_text
                            h1 Digital:
                            .line
                            p.expanded_text SEO, SERM, SMO, SMM, Таргетинг, Директ и еще куча рыбного текста, шобы было хорошо
                            include partials/services_btn

            .section#page-4
                .portfolio
                    .portfolio_heading
                        h1 Наши работы
                        p Мы разрабатываем крутой дизайн, удобные сайты, продающие интернет-магазины, стильные логотипы.
                        include partials/portfolio-btn
                    .portfolio_item(style="background:url(/assets/images/portfolio/sad_kamney.jpg) center; background-size:cover;")
                        .portfolio_item_image
                        a.portfolio_item_name Сад камней
                            br
                            i.fa.fa-tags Нужные тэги
                    .portfolio_item(style="background:url(/assets/images/portfolio/ped_sovet.png) center; background-size:cover;")
                        a.portfolio_item_name ПедСовет 2017
                            br
                            i.fa.fa-tags Нужные тэги
                    .portfolio_item(style="background:url(/assets/images/portfolio/auto_krk.jpg) center; background-size:cover;")
                        a.portfolio_item_name АВТО-КРК
                            br
                            i.fa.fa-tags Нужные тэги
                    .portfolio_item(style="background:url(/assets/images/portfolio/maksikrov.jpg) center; background-size:cover;")

                        a.portfolio_item_name Максикров
                            br
                            i.fa.fa-tags Нужные тэги
                    .portfolio_item(style="background:url(/assets/images/portfolio/grenka.jpg) center; background-size:cover;")

                        a.portfolio_item_name Гренка
                            br
                            i.fa.fa-tags Нужные тэги
                    .portfolio_item(style="background:url(/assets/images/portfolio/xiaomi.jpg) center; background-size:cover;")

                        a.portfolio_item_name Xiaomi
                            br
                            i.fa.fa-tags Нужные тэги
                    .portfolio_item(style="background:url(/assets/images/portfolio/vryasov.jpg) center; background-size:cover;")

                        a.portfolio_item_name Максим Врясов
                            br
                            i.fa.fa-tags Нужные тэги
                    .portfolio_item(style="background:url(/assets/images/portfolio/prom_agro_traid.jpg) center; background-size:cover;")

                        a.portfolio_item_name ПромАгроТрейд
                            br
                            i.fa.fa-tags Нужные тэги
                    .portfolio_item(style="background:url(/assets/images/portfolio/griffin.png) center; background-size:cover;")

                        a.portfolio_item_name Гриффин
                            br
                            i.fa.fa-tags Нужные тэги
                    .portfolio_item(style="background:url(/assets/images/portfolio/ego_plus.png) center; background-size:cover;")

                        a.portfolio_item_name Эго +
                            br
                            i.fa.fa-tags Нужные тэги
            .section#page-5
                .achievments
                    .achievments_heading
                        h1 Наши достижения
                        p Мы молодая компания и работаем только 4 года, но за это время мы успели занять ТОПовые места в рейтинге веб-студий.
                        input(type="radio" name="achievments" checked)#local
                        label.btn.achievments_btn(for="local") Краснорярск и Сибирь
                        input(type="radio" name="achievments" )#country
                        label.btn.achievments_btn(for="country") Россия
                    .achievments_list_local
                        .achievments_item
                            img(src="/assets/images/places/1.svg" type="image/svg+xml")
                            p.item_description По разработке интернет-магазинов в Красноярске
                            .noise
                        .achievments_item
                            img(src="/assets/images/places/1.svg" type="image/svg+xml")
                            p.item_description По разработке сайтов на
                                br
                                | CMS Wordpress
                            .noise
                        .achievments_item
                            img(src="/assets/images/places/1.svg" type="image/svg+xml")
                            p.item_description По разработке сайтов на
                                br
                                | CMS Joomla
                            .noise
                        .achievments_item
                            img(src="/assets/images/places/1.svg" type="image/svg+xml")
                            p.item_description По разработке сайтов на
                                br
                                | CMS Opencart
                            .noise
                        .achievments_item
                            img(src="/assets/images/places/3.svg" type="image/svg+xml")
                            p.item_description По разработке интернет-магазинов в Сибири
                            .noise
                        .achievments_item
                            img(src="/assets/images/places/30.svg" type="image/svg+xml")
                            p.item_description В общем рейтинге веб-студий Сибири
                            .noise
                        .achievments_item
                            img(src="/assets/images/places/top10.svg" type="image/svg+xml")
                            p.item_description Входим в ТОП Руварда по Красноярску
                            .noise
                        .achievments_item
                            img(src="/assets/images/places/10.svg" type="image/svg+xml")
                            p.item_description Входим в топ Тэглайна по Красноярску
                            .noise
                    .achievments_list_country
                        .achievments_item
                            img(src="/assets/images/places/1.svg" type="image/svg+xml")
                            p.item_description По разработке интернет-магазинов на CMS Wordpress
                            .noise
                        .achievments_item
                            img(src="/assets/images/places/2.svg" type="image/svg+xml")
                            p.item_description По разработке интернет-магазинов в сегменте «Питание»
                            .noise
                        .achievments_item
                            img(src="/assets/images/places/8.svg" type="image/svg+xml")
                            p.item_description По разработке интернет-магазинов на
                                | CMS OpenCart
                            .noise
                        .achievments_item
                            img(src="/assets/images/places/top.svg" type="image/svg+xml")
                            p.item_description Входим в рейтинг лучших веб-студий по версии WWWrating
                            .noise
                        .achievments_item
                            img(src="/assets/images/places/6.svg" type="image/svg+xml")
                            p.item_description По разработке интернет-магазинов в сегменте «Одежда и обувь»
                            .noise
                        .achievments_item
                            img(src="/assets/images/places/22.svg" type="image/svg+xml")
                            p.item_description По разработке сайтов на
                                br
                                | CMS Joomla
                            .noise
                        .achievments_item
                            img(src="/assets/images/places/32.svg" type="image/svg+xml")
                            p.item_description В общем рейтинге по разработке интернет-магазинов
                            .noise
                        .achievments_item
                            img(src="/assets/images/places/top100.svg" type="image/svg+xml")
                            p.item_description Входим в ТОП-100 веб-студий России в сегменте «Услуги»
                            .noise
            .section#page-6
                .price-list
                    .price_list_heading
                        h1 Стоимость услуг
                        p Мы работаем как с молодыми компаниями, так и с крупными брендами и государственными компаниями.
                    .price_list_prices
                        .prices_pack
                            h1 Пакет «Эконом»
                                |
                                br
                                |от 9 990&nbsp;
                                i.fa.fa-rub
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Dolorum a
                            include partials/prices_btn
                        .prices_pack
                            h1 Пакет «Стандарт»
                                |
                                br
                                | от 79 990&nbsp;
                                i.fa.fa-rub
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Dolorum a
                            include partials/prices_btn
                        .prices_pack
                            h1 Пакет «Премиум»
                                |
                                br
                                | от 249 990&nbsp;
                                i.fa.fa-rub
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Dolorum a
                            include partials/prices_btn
                        .prices_pack
                            h1 Пакет «Лидер рынка»
                                |
                                br
                                | от 699 990&nbsp;
                                i.fa.fa-rub
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Dolorum a
                            include partials/prices_btn
            .section#page-7
                .advantages
                    .advantages_heading
                        h1 Наши преимущества
                        p Мы молодая компания и работаем только 4 года, но за это время мы успели занять ТОПовые места в рейтинге веб-студий
                    .advantages_list
                        .advantages_item
                            img(src="/assets/images/icons/bitrix.svg" width="80px")
                            p Золотой партнер
                                br
                                | 1С-Битрикс
                            .noise
                        .advantages_item
                            img(src="/assets/images/icons/rub.svg" height='80px')
                            p Выполняем проекты
                                br
                                | с любым бюджетом
                            .noise
                        .advantages_item
                            img(src="/assets/images/icons/crown.svg" width="80px")
                            P Опыт работы с крупными организациями и гос.компаниями
                            .noise
                        .advantages_item
                            img(src="/assets/images/icons/loop.svg" width="80px")
                            p Используем Agile технологию
                                br
                                | с крупными проектами
                            .noise
                        .advantages_item
                            img(src="/assets/images/icons/coder.svg" width="80px")
                            P Высококвалифицированные специалисты
                            .noise
                        .advantages_item
                            img(src="/assets/images/icons/500.svg" height="40px")
                            P Более 500 реализованных
                                br
                                | проектов
                            .noise
                        .advantages_item
                            img(src="/assets/images/icons/5.svg" height="40px")
                            p 5 лет на рынке
                                br
                                | веб-разработки
                            .noise
                        .advantages_item
                            img(src="/assets/images/icons/chek.svg" width="80px")
                            P Студия полного цикла:
                                br
                                | от концепта до продаж
                            .noise
            .section#page-8
                .our_clients
                    .our_clients_heading
                        h1 Наши клsиенты
                        p Мы работаем как с молодыми компаниями, так и с крупными брендами и государственными компаниями.
                    .our_clients_list
                        .clients-item
                            img(src="/assets/images/clients/kgsd.png" height='60px')
                            .noise
                        .clients-item
                            img(src="/assets/images/clients/rusgidro.png" height='60px')
                            .noise
                        .clients-item
                            img(src="/assets/images/clients/mokk.png" height='100px')
                            .noise
                        .clients-item
                            img(src="/assets/images/clients/ty_pred.png" height='90px')
                            .noise
                        .clients-item
                            img(src="/assets/images/clients/nissan.png" height='20px')
                            .noise
                        .clients-item
                            img(src="/assets/images/clients/ssangyong.png" height='80px')
                            .noise
                        .clients-item
                            img(src="/assets/images/clients/honda.png" height='20px')
                            .noise
                        .clients-item
                            img(src="/assets/images/clients/kik.png" height='40px')
                            .noise
                        .clients-item
                            img(src="/assets/images/clients/olimp.png" height='40px')
                            .noise
                        .clients-item
                            img(src="/assets/images/clients/xiaomi.png" height='50px')
                            .noise
                        .clients-item
                            img(src="/assets/images/clients/tetra.png" height='40px')
                            .noise
                        .clients-item
                            img(src="/assets/images/clients/los.png" height='100px')
                            .noise
            .section#page-9
                .site_map
                    #map
                        a.btn Контакты

                    .fullpage_back
                        p г. Красноярск, ул. Ладо Кецховели, д. 22а, оф. 9-14
                            br
                            span +7 (391) 242-72-31
                            a(href="mailto:info@foxunion.ru").mail info@foxunion.ru
                            br

                            include partials/map_btn
                        img(src='/assets/images/marker.png')
                        .callback_form.map_form
                            h2 Есть вопросы?
                            p Заполните форму и мы Вам позвоним
                            form.site_map_form
                                div
                                    input(type="text" name="name" placeholder="Ваше имя")
                                div
                                    input.phone(type="text" name="phone" placeholder="Ваш Телефон")
                                include partials/form_btn
                                p Заполняя данную форму вы принимаете условия оглашения об использовании сайта, в том числе в части обработки и использования&nbsp;
                                    a(href='#') персональных данных.

            .section#page-10
                footer
                    .footer_section.footer_services
                        h2 Услуги
                        ul.footer_list
                            li
                                a(href="#") Разработка сайтов
                            li
                                a(href="#") E-commerce
                            li
                                a(href="#") Дизайн и брендинг
                            li
                                a(href="#") Видеоконтент
                            li
                                a(href="#") Digital / продвижение и маркетинг
                            li
                                a(href="#") Мобильные приложения
                            li
                                a(href="#") Разработка и внедрение CRM-систем
                    .footer_section.footer_about
                        h2 Компания
                        ul.footer_list
                            li
                                a(href="#") О компании
                            li
                                a(href="#") Достижения
                            li
                                a(href="#") Клиентам
                            li
                                a(href="#") Клиенты
                            li
                                a(href="#") Вакансии
                            li
                                a(href="#") Блог
                            li
                                a(href="#") Контакты
                    .footer_section.footer_portfolio
                        h2 Портфолио
                        ul.footer_list
                            li
                                a(href="#") Сайты
                            li
                                a(href="#") Интернет-магазины
                            li
                                a(href="#") Фирменный стиль
                            li
                                a(href="#") Мобильные приложения
                            li
                                a(href="#") Дизайн
                    .footer_section.footer_prices
                        h2 Цены
                        ul.footer_list
                            li
                                a(href="#") Пакет "Эконом"
                            li
                                a(href="#") Пакет "Стандарт"
                            li
                                a(href="#") Пакет "Премиум"
                            li
                                a(href="#") Пакет "Лидер рынка"
                    .footer_logo
                        img(src='/assets/images/logofooter.svg' height='60px')
                        p Все ресурсы сайта www.foxunion.ru, включая текстовую, графическую и видео информацию, структуру
                            |  и оформление страниц, защищены Российскими и международными законами и соглашениями
                            |  об охране авторских прав и интеллектуальной собственности
                    .footer_contacts
                        h2 Контакты
                        p +7 (391) 242-72-31
                            |
                            br
                            | info@foxunion.ru

                        span г. Красноярск, ул. Ладо Кецховели, д. 22а, оф. 9-14
                        br
                        .contacts_link
                            a(href='') Пользовательское соглашение
                        .contacts_link
                            a(href='') Политика конфиденциальности

                    .footer_social
                        div
                            video.fox_vid(data-autoplay data-keepplaying muted loop  src="assets/videos/Fox.webm" type='video/webm' codecs="vp8, vorbis")
                        ul
                            li
                                a.vk(href="")
                                  i.fa.fa-vk
                            li
                                a.insta(href="")
                                    i.fa.fa-instagram
                            li
                                a.youtube(href="")
                                    i.fa.fa-youtube-play




        script(src='https://www.youtube.com/iframe_api' async)
        script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
        script(src="/assets/js/script.js" type="text/javascript")
        script(src="https://unpkg.com/scrollreveal@3.3.2/dist/scrollreveal.min.js")

build/index.html
<!DOCTYPE html>
<html lang="RU">
  <head>
    <title>fxunion</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="site_fullscreen_menu">
      <ul class="menu_nav">
        <li><a class="glitch2-btn" href="#"><span class="text">Компания</span><span class="mask"><span>Компания</span></span></a></li>
        <li><a class="glitch2-btn" href="#"><span class="text">Портфолио</span><span class="mask"><span>Портфолио</span></span></a></li>
        <li><a class="glitch2-btn" href="#"><span class="text">Услуги</span><span class="mask"><span>Услуги</span></span></a></li>
        <li><a class="glitch2-btn" href="#"><span class="text">Цены</span><span class="mask"><span>Цены</span></span></a></li>
        <li><a class="glitch2-btn" href="#"><span class="text">Контакты</span><span class="mask"><span>Контакты</span></span></a></li>
      </ul>
      <div class="callback_form">
        <h2>Хотите работать c нами?</h2>
        <p>Заполните форму и наш менеджер свяжется с Вами.</p>
        <form class="navbar_form" id="navbar_form">
          <div>
            <input type="text" name="name" placeholder="Ваше имя">
          </div>
          <div>
            <input type="text" name="phone" placeholder="Ваш Телефон">
          </div>
          <div>
            <input type="text" name="org" placeholder="Название организации">
          </div>
          <div>
            <input type="text" name="budget" placeholder="Примерный бюджет">
          </div>
          <div>
            <input type="text" name="message" placeholder="Ваше сообщение">
          </div>
          <div><a class="glitch-btn form-btn" href="#" style="position: relative; display: inline-block; margin-top: 20px;"><span class="text">Отправить</span><span class="mask mask1"><span>Отправить</span></span><span class="mask mask2"><span>Отправить</span></span><span class="mask mask3"><span>Отправить</span></span></a><a class="navbar_form_attach" href="javascript:void(0)"><i><img src="/assets/images/add.svg" height="15px;" style="margin-right:15px; transition:.2s ease-out;"></i>Прикрепить файл
              <input name="attach" type="file"></a></div>
          <div>
            <p>
              Заполняя данную форму, вы принимаете условия Соглашения об использовании сайта, в том числе, в части &nbsp;<a href="#">обработки и использования</a> персональных данных</p>
          </div>
        </form>
      </div>
    </div>
    <div class="navbar"><a class="navbar_logo" href="#"><img src="/assets/images/logo.svg" height="40px" alt></a>
      <div class="navbar_button"><a class="btn showreel"><span data-hover="Showreel">Смотреть</span></a></div>
      <div class="navbar_contacts"><a class="contacts_dropdown">Контакты</a>
        <div class="navbar_contacts-list"><span>Отдел продаж<br>
            <p>+7 (391) 242-72-31</p></span><span>Отдел поддержки<br>
            <p>+7 (908) 018-30-35</p></span><span>E-mail<br>
            <p>info@foxunion.ru</p></span></div>
      </div>
    </div>
    <div class="navbar_hamburger-button"><span class="menu-global menu-top"></span><span class="menu-global menu-middle"></span><span class="menu-global menu-bottom"></span></div>
    <div class="video_close-button"><span class="menu-global menu-top"></span><span class="menu-global menu-bottom"></span></div>
    <div id="fullpage">
      <div class="section" id="page-1">
        <div class="page1_grid">
          <div class="description">
            <h1>Веб-студия №1 в&nbsp;Красноярске*</h1><span>
              Мы оказываем полный комплекс услуг по разработке сайтов, создаем сложные проекты для<span class="glitch_text_1"> e-commerce,</span>а так же разрабатываем продуманный
              <span class="glitch_text_2"> интерактивный&nbsp;дизайн.</span></span>
          </div>
          <div class="fox-pic">
            <video class="fox_vid" muted data-autoplay data-keepplaying loop>
              <source src="assets/videos/Fox.webm" type="video/webm" codecs="vp8, vorbis">
            </video>
            <video class="fox_vid_glitched" muted data-autoplay data-keepplaying loop style="display:none;">
              <source src="assets/videos/glitchyFox.webm" type="video/webm" codecs="vp8, vorbis">
            </video>
          </div>
        </div>
        <div class="footnote"><span>
            *По версии&nbsp;<a href="http://www.ratingruneta.ru/web/krasnoyarsk/middle">www.ratingruneta.ru</a> в среднем ценовом сегменте 2017 года.</span></div>
      </div>
      <div class="section" id="page-2">
        <div class="video_container">
          <video id="page2_video" data-autoplay data-keepplaying muted loop src="assets/videos/composition.mp4"></video>
          <div class="video_overlay"><img class="play_button" id="play_button" src="/assets/images/play.svg"></div>
        </div>
        <div id="player"></div>
      </div>
      <div class="section" id="page-3">
        <div class="services">
          <div class="services_item" style="background-image:url(assets/images/back1.png);">
            <div class="item_video_bg">
              <video src="assets/videos/webdevelop.mov" data-autoplay loop muted></video>
            </div>
            <div class="item_inner_text">
              <h1>Веб-разработка:</h1>
              <div class="line"></div>
              <p class="expanded_text">Корпоративные сайты, поддержка, адаптация и еще куча рыбного текста, шобы было хорошо</p><a class="glitch-btn services-btn" href="#"><span class="text">Подробнее</span><span class="mask mask1"><span>Подробнее</span></span><span class="mask mask2"><span>Подробнее</span></span><span class="mask mask3"><span>Подробнее</span></span></a>
            </div>
          </div>
          <div class="services_item" style="background-image:url(assets/images/back2.png);">
            <div class="item_video_bg">
              <video src="assets/videos/e-comm.mov" data-autoplay loop muted></video>
            </div>
            <div class="item_inner_text">
              <h1>E-commerce:</h1>
              <div class="line"></div>
              <p class="expanded_text">Интернет-магазины, веб-интегрирование 1С и CRM систем и еще куча рыбного текста, шобы было хорошо</p><a class="glitch-btn services-btn" href="#"><span class="text">Подробнее</span><span class="mask mask1"><span>Подробнее</span></span><span class="mask mask2"><span>Подробнее</span></span><span class="mask mask3"><span>Подробнее</span></span></a>
            </div>
          </div>
          <div class="services_item" style="background-image:url(assets/images/back3.png);">
            <div class="item_video_bg">
              <video src="assets/videos/design.mp4" data-autoplay loop muted></video>
            </div>
            <div class="item_inner_text">
              <h1>Дизайн и брендинг:</h1>
              <div class="line"></div>
              <p class="expanded_text">Здесь по сути должен быть рыбный текст и еще куча рыбного текста, шобы было хорошо</p><a class="glitch-btn services-btn" href="#"><span class="text">Подробнее</span><span class="mask mask1"><span>Подробнее</span></span><span class="mask mask2"><span>Подробнее</span></span><span class="mask mask3"><span>Подробнее</span></span></a>
            </div>
          </div>
          <div class="services_item" style="background-image:url(assets/images/back4.png);">
            <div class="item_video_bg">
              <video src="assets/videos/digital.mov" data-autoplay loop muted></video>
            </div>
            <div class="item_inner_text">
              <h1>Digital:</h1>
              <div class="line"></div>
              <p class="expanded_text">SEO, SERM, SMO, SMM, Таргетинг, Директ и еще куча рыбного текста, шобы было хорошо</p><a class="glitch-btn services-btn" href="#"><span class="text">Подробнее</span><span class="mask mask1"><span>Подробнее</span></span><span class="mask mask2"><span>Подробнее</span></span><span class="mask mask3"><span>Подробнее</span></span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="section" id="page-4">
        <div class="portfolio">
          <div class="portfolio_heading">
            <h1>Наши работы</h1>
            <p>Мы разрабатываем крутой дизайн, удобные сайты, продающие интернет-магазины, стильные логотипы.</p><a class="glitch-btn portfolio-btn" href="#"><span class="text">Все работы</span><span class="mask mask1"><span>Все работы</span></span><span class="mask mask2"><span>Все работы</span></span><span class="mask mask3"><span>Все работы</span></span></a>
          </div>
          <div class="portfolio_item" style="background:url(/assets/images/portfolio/sad_kamney.jpg) center; background-size:cover;">
            <div class="portfolio_item_image"></div><a class="portfolio_item_name">Сад камней<br><i class="fa fa-tags">Нужные тэги</i></a>
          </div>
          <div class="portfolio_item" style="background:url(/assets/images/portfolio/ped_sovet.png) center; background-size:cover;"><a class="portfolio_item_name">ПедСовет 2017<br><i class="fa fa-tags">Нужные тэги</i></a></div>
          <div class="portfolio_item" style="background:url(/assets/images/portfolio/auto_krk.jpg) center; background-size:cover;"><a class="portfolio_item_name">АВТО-КРК<br><i class="fa fa-tags">Нужные тэги</i></a></div>
          <div class="portfolio_item" style="background:url(/assets/images/portfolio/maksikrov.jpg) center; background-size:cover;"><a class="portfolio_item_name">Максикров<br><i class="fa fa-tags">Нужные тэги</i></a></div>
          <div class="portfolio_item" style="background:url(/assets/images/portfolio/grenka.jpg) center; background-size:cover;"><a class="portfolio_item_name">Гренка<br><i class="fa fa-tags">Нужные тэги</i></a></div>
          <div class="portfolio_item" style="background:url(/assets/images/portfolio/xiaomi.jpg) center; background-size:cover;"><a class="portfolio_item_name">Xiaomi<br><i class="fa fa-tags">Нужные тэги</i></a></div>
          <div class="portfolio_item" style="background:url(/assets/images/portfolio/vryasov.jpg) center; background-size:cover;"><a class="portfolio_item_name">Максим Врясов<br><i class="fa fa-tags">Нужные тэги</i></a></div>
          <div class="portfolio_item" style="background:url(/assets/images/portfolio/prom_agro_traid.jpg) center; background-size:cover;"><a class="portfolio_item_name">ПромАгроТрейд<br><i class="fa fa-tags">Нужные тэги</i></a></div>
          <div class="portfolio_item" style="background:url(/assets/images/portfolio/griffin.png) center; background-size:cover;"><a class="portfolio_item_name">Гриффин<br><i class="fa fa-tags">Нужные тэги</i></a></div>
          <div class="portfolio_item" style="background:url(/assets/images/portfolio/ego_plus.png) center; background-size:cover;"><a class="portfolio_item_name">Эго +<br><i class="fa fa-tags">Нужные тэги</i></a></div>
        </div>
      </div>
      <div class="section" id="page-5">
        <div class="achievments">
          <div class="achievments_heading">
            <h1>Наши достижения</h1>
            <p>Мы молодая компания и работаем только 4 года, но за это время мы успели занять ТОПовые места в рейтинге веб-студий.</p>
            <input type="radio" name="achievments" checked id="local">
            <label class="btn achievments_btn" for="local">Краснорярск и Сибирь</label>
            <input type="radio" name="achievments" id="country">
            <label class="btn achievments_btn" for="country">Россия</label>
          </div>
          <div class="achievments_list_local">
            <div class="achievments_item"><img src="/assets/images/places/1.svg" type="image/svg+xml">
              <p class="item_description">По разработке интернет-магазинов в Красноярске</p>
              <div class="noise"></div>
            </div>
            <div class="achievments_item"><img src="/assets/images/places/1.svg" type="image/svg+xml">
              <p class="item_description">По разработке сайтов на<br>CMS Wordpress</p>
              <div class="noise"></div>
            </div>
            <div class="achievments_item"><img src="/assets/images/places/1.svg" type="image/svg+xml">
              <p class="item_description">По разработке сайтов на<br>CMS Joomla</p>
              <div class="noise"></div>
            </div>
            <div class="achievments_item"><img src="/assets/images/places/1.svg" type="image/svg+xml">
              <p class="item_description">По разработке сайтов на<br>CMS Opencart</p>
              <div class="noise"></div>
            </div>
            <div class="achievments_item"><img src="/assets/images/places/3.svg" type="image/svg+xml">
              <p class="item_description">По разработке интернет-магазинов в Сибири</p>
              <div class="noise"></div>
            </div>
            <div class="achievments_item"><img src="/assets/images/places/30.svg" type="image/svg+xml">
              <p class="item_description">В общем рейтинге веб-студий Сибири</p>
              <div class="noise"></div>
            </div>
            <div class="achievments_item"><img src="/assets/images/places/top10.svg" type="image/svg+xml">
              <p class="item_description">Входим в ТОП Руварда по Красноярску</p>
              <div class="noise"></div>
            </div>
            <div class="achievments_item"><img src="/assets/images/places/10.svg" type="image/svg+xml">
              <p class="item_description">Входим в топ Тэглайна по Красноярску</p>
              <div class="noise"></div>
            </div>
          </div>
          <div class="achievments_list_country">
            <div class="achievments_item"><img src="/assets/images/places/1.svg" type="image/svg+xml">
              <p class="item_description">По разработке интернет-магазинов на CMS Wordpress</p>
              <div class="noise"></div>
            </div>
            <div class="achievments_item"><img src="/assets/images/places/2.svg" type="image/svg+xml">
              <p class="item_description">По разработке интернет-магазинов в сегменте «Питание»</p>
              <div class="noise"></div>
            </div>
            <div class="achievments_item"><img src="/assets/images/places/8.svg" type="image/svg+xml">
              <p class="item_description">
                По разработке интернет-магазинов наCMS OpenCart</p>
              <div class="noise"></div>
            </div>
            <div class="achievments_item"><img src="/assets/images/places/top.svg" type="image/svg+xml">
              <p class="item_description">Входим в рейтинг лучших веб-студий по версии WWWrating</p>
              <div class="noise"></div>
            </div>
            <div class="achievments_item"><img src="/assets/images/places/6.svg" type="image/svg+xml">
              <p class="item_description">По разработке интернет-магазинов в сегменте «Одежда и обувь»</p>
              <div class="noise"></div>
            </div>
            <div class="achievments_item"><img src="/assets/images/places/22.svg" type="image/svg+xml">
              <p class="item_description">По разработке сайтов на<br>CMS Joomla</p>
              <div class="noise"></div>
            </div>
            <div class="achievments_item"><img src="/assets/images/places/32.svg" type="image/svg+xml">
              <p class="item_description">В общем рейтинге по разработке интернет-магазинов</p>
              <div class="noise"></div>
            </div>
            <div class="achievments_item"><img src="/assets/images/places/top100.svg" type="image/svg+xml">
              <p class="item_description">Входим в ТОП-100 веб-студий России в сегменте «Услуги»</p>
              <div class="noise"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="section" id="page-6">
        <div class="price-list">
          <div class="price_list_heading">
            <h1>Стоимость услуг</h1>
            <p>Мы работаем как с молодыми компаниями, так и с крупными брендами и государственными компаниями.</p>
          </div>
          <div class="price_list_prices">
            <div class="prices_pack">
              <h1>
                Пакет «Эконом»<br>от 9 990&nbsp;<i class="fa fa-rub"></i></h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Dolorum a</p><a class="glitch-btn prices-btn" href="#"><span class="text">Получить расчет</span><span class="mask mask1"><span>Получить расчет</span></span><span class="mask mask2"><span>Получить расчет</span></span><span class="mask mask3"><span>Получить расчет</span></span></a>
            </div>
            <div class="prices_pack">
              <h1>
                Пакет «Стандарт»<br>от 79 990&nbsp;<i class="fa fa-rub"></i></h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Dolorum a</p><a class="glitch-btn prices-btn" href="#"><span class="text">Получить расчет</span><span class="mask mask1"><span>Получить расчет</span></span><span class="mask mask2"><span>Получить расчет</span></span><span class="mask mask3"><span>Получить расчет</span></span></a>
            </div>
            <div class="prices_pack">
              <h1>
                Пакет «Премиум»<br>от 249 990&nbsp;<i class="fa fa-rub"></i></h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Dolorum a</p><a class="glitch-btn prices-btn" href="#"><span class="text">Получить расчет</span><span class="mask mask1"><span>Получить расчет</span></span><span class="mask mask2"><span>Получить расчет</span></span><span class="mask mask3"><span>Получить расчет</span></span></a>
            </div>
            <div class="prices_pack">
              <h1>
                Пакет «Лидер рынка»<br>от 699 990&nbsp;<i class="fa fa-rub"></i></h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Dolorum a</p><a class="glitch-btn prices-btn" href="#"><span class="text">Получить расчет</span><span class="mask mask1"><span>Получить расчет</span></span><span class="mask mask2"><span>Получить расчет</span></span><span class="mask mask3"><span>Получить расчет</span></span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="section" id="page-7">
        <div class="advantages">
          <div class="advantages_heading">
            <h1>Наши преимущества</h1>
            <p>Мы молодая компания и работаем только 4 года, но за это время мы успели занять ТОПовые места в рейтинге веб-студий</p>
          </div>
          <div class="advantages_list">
            <div class="advantages_item"><img src="/assets/images/icons/bitrix.svg" width="80px">
              <p>Золотой партнер<br>1С-Битрикс</p>
              <div class="noise"></div>
            </div>
            <div class="advantages_item"><img src="/assets/images/icons/rub.svg" height="80px">
              <p>Выполняем проекты<br>с любым бюджетом</p>
              <div class="noise"></div>
            </div>
            <div class="advantages_item"><img src="/assets/images/icons/crown.svg" width="80px">
              <P>Опыт работы с крупными организациями и гос.компаниями</P>
              <div class="noise"></div>
            </div>
            <div class="advantages_item"><img src="/assets/images/icons/loop.svg" width="80px">
              <p>Используем Agile технологию<br>с крупными проектами</p>
              <div class="noise"></div>
            </div>
            <div class="advantages_item"><img src="/assets/images/icons/coder.svg" width="80px">
              <P>Высококвалифицированные специалисты</P>
              <div class="noise"></div>
            </div>
            <div class="advantages_item"><img src="/assets/images/icons/500.svg" height="40px">
              <P>Более 500 реализованных<br>проектов</P>
              <div class="noise"></div>
            </div>
            <div class="advantages_item"><img src="/assets/images/icons/5.svg" height="40px">
              <p>5 лет на рынке<br>веб-разработки</p>
              <div class="noise"></div>
            </div>
            <div class="advantages_item"><img src="/assets/images/icons/chek.svg" width="80px">
              <P>Студия полного цикла:<br>от концепта до продаж</P>
              <div class="noise"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="section" id="page-8">
        <div class="our_clients">
          <div class="our_clients_heading">
            <h1>Наши клsиенты</h1>
            <p>Мы работаем как с молодыми компаниями, так и с крупными брендами и государственными компаниями.</p>
          </div>
          <div class="our_clients_list">
            <div class="clients-item"><img src="/assets/images/clients/kgsd.png" height="60px">
              <div class="noise"></div>
            </div>
            <div class="clients-item"><img src="/assets/images/clients/rusgidro.png" height="60px">
              <div class="noise"></div>
            </div>
            <div class="clients-item"><img src="/assets/images/clients/mokk.png" height="100px">
              <div class="noise"></div>
            </div>
            <div class="clients-item"><img src="/assets/images/clients/ty_pred.png" height="90px">
              <div class="noise"></div>
            </div>
            <div class="clients-item"><img src="/assets/images/clients/nissan.png" height="20px">
              <div class="noise"></div>
            </div>
            <div class="clients-item"><img src="/assets/images/clients/ssangyong.png" height="80px">
              <div class="noise"></div>
            </div>
            <div class="clients-item"><img src="/assets/images/clients/honda.png" height="20px">
              <div class="noise"></div>
            </div>
            <div class="clients-item"><img src="/assets/images/clients/kik.png" height="40px">
              <div class="noise"></div>
            </div>
            <div class="clients-item"><img src="/assets/images/clients/olimp.png" height="40px">
              <div class="noise"></div>
            </div>
            <div class="clients-item"><img src="/assets/images/clients/xiaomi.png" height="50px">
              <div class="noise"></div>
            </div>
            <div class="clients-item"><img src="/assets/images/clients/tetra.png" height="40px">
              <div class="noise"></div>
            </div>
            <div class="clients-item"><img src="/assets/images/clients/los.png" height="100px">
              <div class="noise"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="section" id="page-9">
        <div class="site_map">
          <div id="map"><a class="btn">Контакты</a></div>
          <div class="fullpage_back">
            <p>г. Красноярск, ул. Ладо Кецховели, д. 22а, оф. 9-14<br><span>+7 (391) 242-72-31</span><a class="mail" href="mailto:info@foxunion.ru">info@foxunion.ru</a><br><a class="glitch-btn map-btn" href="#"><span class="text">Посмотреть на карте</span><span class="mask mask1"><span>Посмотреть на карте</span></span><span class="mask mask2"><span>Посмотреть на карте</span></span><span class="mask mask3"><span>Посмотреть на карте</span></span></a></p><img src="/assets/images/marker.png">
            <div class="callback_form map_form">
              <h2>Есть вопросы?</h2>
              <p>Заполните форму и мы Вам позвоним</p>
              <form class="site_map_form">
                <div>
                  <input type="text" name="name" placeholder="Ваше имя">
                </div>
                <div>
                  <input class="phone" type="text" name="phone" placeholder="Ваш Телефон">
                </div><a class="glitch-btn form-btn" href="#"><span class="text">Отправить</span><span class="mask mask1"><span>Отправить</span></span><span class="mask mask2"><span>Отправить</span></span><span class="mask mask3"><span>Отправить</span></span></a>
                <p>Заполняя данную форму вы принимаете условия оглашения об использовании сайта, в том числе в части обработки и использования&nbsp;<a href="#">персональных данных.</a></p>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="section" id="page-10">
        <footer>
          <div class="footer_section footer_services">
            <h2>Услуги</h2>
            <ul class="footer_list">
              <li><a href="#">Разработка сайтов</a></li>
              <li><a href="#">E-commerce</a></li>
              <li><a href="#">Дизайн и брендинг</a></li>
              <li><a href="#">Видеоконтент</a></li>
              <li><a href="#">Digital / продвижение и маркетинг</a></li>
              <li><a href="#">Мобильные приложения</a></li>
              <li><a href="#">Разработка и внедрение CRM-систем</a></li>
            </ul>
          </div>
          <div class="footer_section footer_about">
            <h2>Компания</h2>
            <ul class="footer_list">
              <li><a href="#">О компании</a></li>
              <li><a href="#">Достижения</a></li>
              <li><a href="#">Клиентам</a></li>
              <li><a href="#">Клиенты</a></li>
              <li><a href="#">Вакансии</a></li>
              <li><a href="#">Блог</a></li>
              <li><a href="#">Контакты</a></li>
            </ul>
          </div>
          <div class="footer_section footer_portfolio">
            <h2>Портфолио</h2>
            <ul class="footer_list">
              <li><a href="#">Сайты</a></li>
              <li><a href="#">Интернет-магазины</a></li>
              <li><a href="#">Фирменный стиль</a></li>
              <li><a href="#">Мобильные приложения</a></li>
              <li><a href="#">Дизайн</a></li>
            </ul>
          </div>
          <div class="footer_section footer_prices">
            <h2>Цены</h2>
            <ul class="footer_list">
              <li><a href="#">Пакет "Эконом"</a></li>
              <li><a href="#">Пакет "Стандарт"</a></li>
              <li><a href="#">Пакет "Премиум"</a></li>
              <li><a href="#">Пакет "Лидер рынка"</a></li>
            </ul>
          </div>
          <div class="footer_logo"><img src="/assets/images/logofooter.svg" height="60px">
            <p>
              Все ресурсы сайта www.foxunion.ru, включая текстовую, графическую и видео информацию, структуру и оформление страниц, защищены Российскими и международными законами и соглашениями
               об охране авторских прав и интеллектуальной собственности
            </p>
          </div>
          <div class="footer_contacts">
            <h2>Контакты</h2>
            <p>
              +7 (391) 242-72-31<br>info@foxunion.ru</p><span>г. Красноярск, ул. Ладо Кецховели, д. 22а, оф. 9-14</span><br>
            <div class="contacts_link"><a href="">Пользовательское соглашение</a></div>
            <div class="contacts_link"><a href="">Политика конфиденциальности</a></div>
          </div>
          <div class="footer_social">
            <div>
              <video class="fox_vid" data-autoplay data-keepplaying muted loop src="assets/videos/Fox.webm" type="video/webm" codecs="vp8, vorbis"></video>
            </div>
            <ul>
              <li><a class="vk" href=""><i class="fa fa-vk"></i></a></li>
              <li><a class="insta" href=""><i class="fa fa-instagram"></i></a></li>
              <li><a class="youtube" href=""><i class="fa fa-youtube-play"></i></a></li>
            </ul>
          </div>
        </footer>
      </div>
    </div>
    <script src="https://www.youtube.com/iframe_api" async></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="/assets/js/script.js" type="text/javascript"></script>
    <script src="https://unpkg.com/scrollreveal@3.3.2/dist/scrollreveal.min.js"></script>
  </body>
</html>
